<?xml version="1.0"?>

<!--mathematical parameters-->
<xacro:properties name="PI" value="3.14"/>

<!--color parameter-->
<material name="red">
    <color rgba="1 0 0 1"/>
</material>
<material name="green">
    <color rgba="0 1 0 1"/>
</material>
<material name="blue">
    <color rgba="0 0 1 1"/>
</material>
